*.o
*.lo
*.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
pointLoad
src/.deps/
src/.dirstamp
stamp-h1
configure
pointload*.tar.gz

pointload-1.0.0/
wdb-pointload_1.0.0-ubuntu1.dsc
wdb-pointload_1.0.0-ubuntu1.orig.tar.gz
wdb-pointload_1.0.0-ubuntu1.tar.gz
wdb-pointload_1.0.0-ubuntu1_amd64.changes
wdb-pointload_1.0.0-ubuntu1_amd64.deb
